body{
  margin: 5em;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
  border-bottom: solid;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  
}

footer > p{
  margin: 0;
  font-weight: bold;
}

a{
  font-weight: bold;
  text-decoration: none;
}


h1>span{
  display: block;
}

li{
  list-style-type: none;
}

nav{
  border-bottom: thin solid;
  font-weight: bold;
}

main h1{
  border-bottom: solid;
}

h1 > span{
  font-style: italic;
  color: grey;
  font-size: larger;
  
}

h1{
  font-size: 400%;
}

img{
  width: 18px;
  height: 18px;

}

